body {
  background-color: #f0f0f0;
}

#app {
  text-align: center;
  margin-top: 1%;
  margin-right: 5%;
}

#video {
  background-color: #000000;
}

#canvas {
  display: none;
}

li {
  display: inline;
  padding: 5px;
}
