.closed {
    position: fixed;
    width: max-content;
    height: max-content;

    bottom: 50px;
    right: 50px;

    background-color: transparent;
}

.opened {
    position: fixed;
    width: auto;
    height: auto;

    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;

    background-color: transparent;
}

p button:hover {
    width: 120%;
    background-color: rgb(139, 93, 139);
}

#logo {
    border-bottom: 1px solid;
}

#close {
    width: 65%;
    height: 65%;
}

#close:hover {
    width: 80%;
    height: 80%;
}

#open {
    width: 100%;
    height: 100%;
}

#open:hover {
    width: 110%;
    height: 110%;
}

.container {
    max-width:max-content;
    
}

mat-button {
    text-align: center;
}