html, body {
    height: 100%;
  }


#container {
    position: sticky;
    text-align: center;
    max-width: 400px;
    max-height: 400px;
    left: 38%;
}

div img {
    border: 1px solid black;
    border-radius: 2%;

    width: 100%;
    object-fit: contain;
}

ul  {
    list-style-type: none;
}
  
li  {
    /* display: inline-block; */
}
  