<mat-sidenav-container
    class="example-container" (backdropClick)="closeSidebar('backdrop')" *ngIf="shouldRun" [ngClass]="{'closed' : toggle, 'opened': !toggle}">
  <mat-sidenav #sidenav (keydown.escape)="closeSidebar('escape')" disableClose>
    <app-logo id="logo"></app-logo>
    <div>
      <p><button mat-button (click)="closeSidebar('toggle button')"> Close menu </button></p>
      <p><button mat-button > Application theme - light / dark </button></p>
      <p><button mat-button (click)="privateMode()" > Enter / exit private mode </button></p>
      <p><button mat-button > Edit categories </button></p>
      <p><button mat-button (click)="aboutClicked()"> About </button></p>
      <p><button mat-button > Exit application </button></p>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <p><button id="open" mat-button (click)="openSidebar()"> Open </button></p>
    <!-- <p> Closed due to: {{reason}} </p> -->
  </mat-sidenav-content>
</mat-sidenav-container>