.closed {
    position: relative;

    top: 0px;
    left: 10px;



    background-color: transparent;
}

.opened {
    position: fixed;
    width: auto;
    height: auto;

    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;

    background-color: transparent;
}

button:hover {
    background-color: rgb(139, 93, 139);    
}

p button:hover {
    width: 120%;
    background-color: rgb(139, 93, 139);
}

#logo {
    border-bottom: 1px solid;
}

#close {
    width: 75%;
    height: 75%;
}

#close:hover {
    width: 90%;
    height: 90%;
}

#open {
    width: 75%;
    height: 75%;
}

#open:hover {
    width: 90%;
    height: 90%;
}

.container {
    max-width:max-content;
    
}