body {
  margin: 0px;
}

#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  overflow: hidden;
  background-color: lightgray;
  position: initial;
  top: 0px;
  width: 100%;
  border-bottom: 1px solid;
}

#logo {
  position: initial;
}

#routes {
  display: inline-block;
}